/* ---------------------------
            HEADER
--------------------------- */
/* menu di sinistra */
.menu {
    height: 80px; 
    position: fixed;
    z-index: 500;
}
.logo img {background-size: 80%;}

.menu-left ul,
.menu-right ul
{display: flex; gap: 30px;}

.menu-left ul li, 
.menu-right ul li {
    text-decoration: none;  
    /* display: inline-block; */
}

.menu-left ul li a, 
.menu-right ul li a {
    color: black;
    /* padding: 10px; */
    font-size: 14px;
    list-style-type: none;
}

.btn {
    background-color: rgb(5, 93, 245); 
    color: white;
    border-radius: 0;
}