/* ---------------------------
            HEADER
--------------------------- */
p {font-size: 15px; font-weight: 100;}

.col-33__plan {width: calc((100% - (35px * 2)) / 3);}

.col-33__service {width: calc((100% - (35px * 2)) / 3);}

/* logo */
.logo img {background-size: 80%;}

/* menu */
.menu {
    position: fixed;
    z-index: 500;
}

.menu-left ul,
.menu-right ul
{display: flex; gap: 30px;}

.menu-left ul li, 
.menu-right ul li {
    text-decoration: none;  
    /* display: inline-block; */
}

.menu-left ul li a, 
.menu-right ul li a {
    color: black;
    /* padding: 10px; */
    font-size: 13px;
    list-style-type: none;
}

/* bottone inizia */
.btn {
    padding: 8px 14px;
    font-size: 12px;
    background-color: rgb(5, 93, 245); 
    color: white;
    border-radius: 0;
}


/* ---------------------------
        MAIN • #1 SEZIONE
--------------------------- */

.hero {background-color: rgb(181, 209, 232);}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__content__text p {
    line-height: 1.6;
    font-size: 16px;  
    font-weight: 100;  
}

.hero__content__text button {
    width: 70%;
    margin: 30px 0; 
    font-size: 15px; 
    padding: 12px 15px;
}

.hero__content__img img {width: 100%; height: auto;}

.hero__content__icon i {
    display: block;
    font-size: 40px;
    margin-bottom: 25px;
}


/* sezione prezzi & piani */
.input-fatturazione {
    font-size: 20px;
    font-weight: 100;
    margin-top: 35px;
    margin-bottom: 70px;   
}

.input-fatturazione label {padding: 0 10px;}

input[type="radio"] {transform: scale(1.5);}

label[for="mensile"] {margin-right: 25px;}

.plan {
    overflow: auto;
    height: 100%;
    border: 1px solid rgb(207, 207, 212);
}

/* PIANI COLLONNE 33 */
.plan__top {
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    border-bottom: 1px solid rgb(207, 207, 212);
}

.plan__middle {min-height: 480px;}

.plan__middle, 
.plan__bottom {padding: 35px;}

.plan__middle__price h4 + p {
    font-weight: 400;
    margin: 20px 0 10px 0;
}
.plan__middle__plan ul li span,
.plan__bottom ul li span
 {display: block;}

.plan__middle__plan li,
.plan__bottom li {
    display: flex;
    font-size: 16px;
    font-weight: 100;
    padding: 15px 0;
}

.plan__middle__plan {overflow: auto;}

.plan__bottom i {color: rgb(26, 65, 240); font-size: 18px;}

.plan__middle__btn {margin: 0px 35px 50px 35px;}

.plan__middle__btn a {
    color: rgb(26, 65, 240);
    text-decoration: 1.5px underline rgb(26, 65, 240);
    
}

.plan__middle__btn button {
    margin-bottom: 25px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

.plan hr {
    margin: 30px 35px;
    border: 1px solid rgb(207, 207, 212);
    width: 30%;
}

.btn__team {
    margin-top: 35px;
    font-size: 18px;
    padding: 10px 20px;
}

/* sezione foto testo */
.partner {margin-top: 75px;}
.partner img {
    width: 100%;
    height: auto;
}

.btn-trasparent-black {
    font-weight: 100;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
}

/* Sezione servizi */
.service img {width: 100%;}


/* Section testimonial */
.testimonial h2 {
    font-weight: 500;font-size: 45px;
    margin-top: 150px;
}

.testimonial a {
    display: inline-block;
    margin-top: 75px;
    font-weight: 100;
    color: rgb(26, 65, 240);
    text-decoration: 1.5px underline rgb(26, 65, 240);
}

/* Section square */
.square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.square__content {
    width: 50%;
    height: 50%;
}

.square__content {
    padding: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square__content__img img {
    filter: invert(100%);
    padding: px;
    width: 100%;
}

.square__content__text img {width: 80%;}

.square__content__text {padding: 45px;}

.square__bg-1 {background-color: rgb(162, 212, 155); border: 15px solid rgb(208, 232, 204);}

.square__bg-2 {background-color: rgb(97, 19, 43);}

.square__bg-3 {background-color: rgb(54, 148, 207);}

.square__bg-4 {background-color: rgb(237, 58, 52);}

.square__bg-5 {background-color: rgb(245, 245, 245);}

.square__bg-6 {background-color: rgb(214, 51, 45);}

.square__bg-7 {background-color: rgb(181, 209, 232);}

.square__bg-8 {background-color: rgb(13, 36, 130);}

.square__bg-9 {background-color: rgb(252, 217, 76);}


/* Call to action */
.cta {height: 20vw;}

.cta__content h2 {    
    padding: 0px 0;
    font-size: 35px;
    color: rgb(97, 19, 43);
}

.cta__content__btn .btn {
    display: block;
    font-size: 15px;
    padding: 12px;
    width: 60% ;
    margin: 0 auto;
    background-color: white;
    color: black;
}

/* sezione FAQ */
.faq {margin: 100px 0 150px;}

.faq h3 {font-weight: 400;}

.faq li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.7px solid rgb(166, 166, 166);
    font-weight: 200;
    padding: 30px 0;
}

.faq li:nth-last-child(1) {border-bottom: 0.7px solid rgb(166, 166, 166);}

.faq__content {display: block; }

.faq__content-icon {
    display: block;
    text-align: end;
    padding: 15px;
    text-align: end;
}

/* footer */
.footer__content {padding: 30px;}

.footer__content h4 {
    color: white;
    font-weight: 500;
}

.footer__content li {padding: 5px 0;}

.footer__content li a {
    font-size: 17px;
    color: white;
    font-weight: 100;
}

.line::after {
    content: '';
    display: block;
    height: 1px;
    background-color: white;
    width: 200px;
    margin: 0 30px 35px;
    margin-bottom: 30px;
}

.footer__bottom {p}

.footer__bottom-language i:first-child {padding: 15px 10px 50px 30px;}

.footer__bottom-language i {filter: invert(100%);}

.footer__bottom-language span {
    margin-right: 8px;
    color: white;
    font-weight: 100;
    font-size: 20px;
}
