/* ---------------------------
            HEADER
--------------------------- */
/* logo */
.logo img {background-size: 80%;}

/* menu */
.menu {
    position: fixed;
    z-index: 500;
}

.menu-left ul,
.menu-right ul
{display: flex; gap: 30px;}

.menu-left ul li, 
.menu-right ul li {
    text-decoration: none;  
    /* display: inline-block; */
}

.menu-left ul li a, 
.menu-right ul li a {
    color: black;
    /* padding: 10px; */
    font-size: 13px;
    list-style-type: none;
}

/* bottone inizia */
.btn {
    padding: 8px 14px;
    font-size: 12px;
    background-color: rgb(5, 93, 245); 
    color: white;
    border-radius: 0;
}

/* ---------------------------
        MAIN • #1 SEZIONE
--------------------------- */

.hero-section {background-color: rgb(181, 209, 232);}

.hero-section p {
    font-size: 13px;  
    font-weight: 100;  
}

.hero-section button {margin: 30px 0; font-size: 13px;}

.hero-section img {width: 100%; height: auto;}

.arrow {
    font-size: 40px;
    margin-top: 110px;
}

/* sezione piani */
.input-fatturazione {
    
    
}
.input-fatturazione input {
    
    font-size: 13px;
    font-weight: 100;
}


/* SECTION SQUARE */
.square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.square__content {
    width: 50%;
    height: 50%;
}

